/* 自动生成的雪碧图CSS */
.iconitem- {
  background-image: url('./sprite-item.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-item-AI拓展伺服器 {
  width: 64px;
  height: 64px;
  background-position: 0px 0px;
}

.icon-item-AI限制器 {
  width: 64px;
  height: 64px;
  background-position: -66px 0px;
}

.icon-item-FICSIT兑换券 {
  width: 64px;
  height: 64px;
  background-position: 0px -66px;
}

.icon-item-F金三角 {
  width: 64px;
  height: 64px;
  background-position: -66px -66px;
}

.icon-item-F金锭 {
  width: 64px;
  height: 64px;
  background-position: -132px 0px;
}

.icon-item-SAM物质 {
  width: 64px;
  height: 64px;
  background-position: -132px -66px;
}

.icon-item-SAM物质波波动器 {
  width: 64px;
  height: 64px;
  background-position: 0px -132px;
}

.icon-item-二氧化硅 {
  width: 64px;
  height: 64px;
  background-position: -66px -132px;
}

.icon-item-二氧化硅溶解液 {
  width: 64px;
  height: 64px;
  background-position: -132px -132px;
}

.icon-item-信标 {
  width: 64px;
  height: 64px;
  background-position: -198px 0px;
}

.icon-item-冷却系统 {
  width: 64px;
  height: 64px;
  background-position: -198px -66px;
}

.icon-item-压缩煤 {
  width: 64px;
  height: 64px;
  background-position: -198px -132px;
}

.icon-item-原油 {
  width: 64px;
  height: 64px;
  background-position: 0px -198px;
}

.icon-item-叠加振荡器 {
  width: 64px;
  height: 64px;
  background-position: -66px -198px;
}

.icon-item-固态生物燃料 {
  width: 64px;
  height: 64px;
  background-position: -132px -198px;
}

.icon-item-塑料 {
  width: 64px;
  height: 64px;
  background-position: -198px -198px;
}

.icon-item-复合铝板 {
  width: 64px;
  height: 64px;
  background-position: -264px 0px;
}

.icon-item-外星DNA胶囊 {
  width: 64px;
  height: 64px;
  background-position: -264px -66px;
}

.icon-item-外星生物蛋白质 {
  width: 64px;
  height: 64px;
  background-position: -264px -132px;
}

.icon-item-外星能量矩阵 {
  width: 64px;
  height: 64px;
  background-position: -264px -198px;
}

.icon-item-多功能框架 {
  width: 64px;
  height: 64px;
  background-position: 0px -264px;
}

.icon-item-奇点电池 {
  width: 64px;
  height: 64px;
  background-position: -66px -264px;
}

.icon-item-定子 {
  width: 64px;
  height: 64px;
  background-position: -132px -264px;
}

.icon-item-封压方块 {
  width: 64px;
  height: 64px;
  background-position: -198px -264px;
}

.icon-item-封装钚棒 {
  width: 64px;
  height: 64px;
  background-position: -264px -264px;
}

.icon-item-封装铀棒 {
  width: 64px;
  height: 64px;
  background-position: -330px 0px;
}

.icon-item-弹道跃迁引擎 {
  width: 64px;
  height: 64px;
  background-position: -330px -66px;
}

.icon-item-强化铁板 {
  width: 64px;
  height: 64px;
  background-position: -330px -132px;
}

.icon-item-彩色子弹 {
  width: 64px;
  height: 64px;
  background-position: -330px -198px;
}

.icon-item-急速电线 {
  width: 64px;
  height: 64px;
  background-position: -330px -264px;
}

.icon-item-散射铁棒弹 {
  width: 64px;
  height: 64px;
  background-position: 0px -330px;
}

.icon-item-散热器 {
  width: 64px;
  height: 64px;
  background-position: -66px -330px;
}

.icon-item-无烟火药 {
  width: 64px;
  height: 64px;
  background-position: -132px -330px;
}

.icon-item-无线电控制单元 {
  width: 64px;
  height: 64px;
  background-position: -198px -330px;
}

.icon-item-时间水晶 {
  width: 64px;
  height: 64px;
  background-position: -264px -330px;
}

.icon-item-晶体振荡器 {
  width: 64px;
  height: 64px;
  background-position: -330px -330px;
}

.icon-item-智能嵌板 {
  width: 64px;
  height: 64px;
  background-position: -396px 0px;
}

.icon-item-暗物质晶体 {
  width: 64px;
  height: 64px;
  background-position: -396px -66px;
}

.icon-item-暗物质残渣 {
  width: 64px;
  height: 64px;
  background-position: -396px -132px;
}

.icon-item-木材 {
  width: 64px;
  height: 64px;
  background-position: -396px -198px;
}

.icon-item-树叶 {
  width: 64px;
  height: 64px;
  background-position: -396px -264px;
}

.icon-item-核子诺氏雷筒 {
  width: 64px;
  height: 64px;
  background-position: -396px -330px;
}

.icon-item-核意面 {
  width: 64px;
  height: 64px;
  background-position: 0px -396px;
}

.icon-item-桶装原油 {
  width: 64px;
  height: 64px;
  background-position: -66px -396px;
}

.icon-item-桶装氧化铝溶液 {
  width: 64px;
  height: 64px;
  background-position: -132px -396px;
}

.icon-item-桶装水 {
  width: 64px;
  height: 64px;
  background-position: -198px -396px;
}

.icon-item-桶装涡轮燃油 {
  width: 64px;
  height: 64px;
  background-position: -264px -396px;
}

.icon-item-桶装液态生物燃料 {
  width: 64px;
  height: 64px;
  background-position: -330px -396px;
}

.icon-item-桶装火箭燃料 {
  width: 64px;
  height: 64px;
  background-position: -396px -396px;
}

.icon-item-桶装燃油 {
  width: 64px;
  height: 64px;
  background-position: -462px 0px;
}

.icon-item-桶装电离燃油 {
  width: 64px;
  height: 64px;
  background-position: -462px -66px;
}

.icon-item-桶装硝酸 {
  width: 64px;
  height: 64px;
  background-position: -462px -132px;
}

.icon-item-桶装硫酸 {
  width: 64px;
  height: 64px;
  background-position: -462px -198px;
}

.icon-item-桶装重油残渣 {
  width: 64px;
  height: 64px;
  background-position: -462px -264px;
}

.icon-item-模块化引擎 {
  width: 64px;
  height: 64px;
  background-position: -462px -330px;
}

.icon-item-模块化框架 {
  width: 64px;
  height: 64px;
  background-position: -462px -396px;
}

.icon-item-橡胶 {
  width: 64px;
  height: 64px;
  background-position: 0px -462px;
}

.icon-item-步枪弹药 {
  width: 64px;
  height: 64px;
  background-position: -66px -462px;
}

.icon-item-毒气诺石 {
  width: 64px;
  height: 64px;
  background-position: -132px -462px;
}

.icon-item-气体过滤器 {
  width: 64px;
  height: 64px;
  background-position: -198px -462px;
}

.icon-item-氧化铝溶液 {
  width: 64px;
  height: 64px;
  background-position: -264px -462px;
}

.icon-item-氮气 {
  width: 64px;
  height: 64px;
  background-position: -330px -462px;
}

.icon-item-水 {
  width: 64px;
  height: 64px;
  background-position: -396px -462px;
}

.icon-item-油焦 {
  width: 64px;
  height: 64px;
  background-position: -462px -462px;
}

.icon-item-活性SAM物质 {
  width: 64px;
  height: 64px;
  background-position: -528px 0px;
}

.icon-item-涡轮步枪弹 {
  width: 64px;
  height: 64px;
  background-position: -528px -66px;
}

.icon-item-涡轮燃油 {
  width: 64px;
  height: 64px;
  background-position: -528px -132px;
}

.icon-item-涡轮马达 {
  width: 64px;
  height: 64px;
  background-position: -528px -198px;
}

.icon-item-液态生物燃料 {
  width: 64px;
  height: 64px;
  background-position: -528px -264px;
}

.icon-item-混凝土 {
  width: 64px;
  height: 64px;
  background-position: -528px -330px;
}

.icon-item-激发态光子物质 {
  width: 64px;
  height: 64px;
  background-position: -528px -396px;
}

.icon-item-火箭燃料 {
  width: 64px;
  height: 64px;
  background-position: -528px -462px;
}

.icon-item-热能推进火箭 {
  width: 64px;
  height: 64px;
  background-position: 0px -528px;
}

.icon-item-焊接模块化框架 {
  width: 64px;
  height: 64px;
  background-position: -66px -528px;
}

.icon-item-煤 {
  width: 64px;
  height: 64px;
  background-position: -132px -528px;
}

.icon-item-燃料 {
  width: 64px;
  height: 64px;
  background-position: -198px -528px;
}

.icon-item-爆炸铁棒弹 {
  width: 64px;
  height: 64px;
  background-position: -264px -528px;
}

.icon-item-瓶装氮气 {
  width: 64px;
  height: 64px;
  background-position: -330px -528px;
}

.icon-item-生化塑造器 {
  width: 64px;
  height: 64px;
  background-position: -396px -528px;
}

.icon-item-生物质 {
  width: 64px;
  height: 64px;
  background-position: -462px -528px;
}

.icon-item-电击铁棒弹 {
  width: 64px;
  height: 64px;
  background-position: -528px -528px;
}

.icon-item-电池 {
  width: 64px;
  height: 64px;
  background-position: -594px 0px;
}

.icon-item-电磁控制杆 {
  width: 64px;
  height: 64px;
  background-position: -594px -66px;
}

.icon-item-电离燃油 {
  width: 64px;
  height: 64px;
  background-position: -594px -132px;
}

.icon-item-电线 {
  width: 64px;
  height: 64px;
  background-position: -594px -198px;
}

.icon-item-电缆 {
  width: 64px;
  height: 64px;
  background-position: -594px -264px;
}

.icon-item-电路板 {
  width: 64px;
  height: 64px;
  background-position: -594px -330px;
}

.icon-item-石灰石 {
  width: 64px;
  height: 64px;
  background-position: -594px -396px;
}

.icon-item-石英晶体 {
  width: 64px;
  height: 64px;
  background-position: -594px -462px;
}

.icon-item-硝酸 {
  width: 64px;
  height: 64px;
  background-position: -594px -528px;
}

.icon-item-硫磺 {
  width: 64px;
  height: 64px;
  background-position: 0px -594px;
}

.icon-item-硫酸 {
  width: 64px;
  height: 64px;
  background-position: -66px -594px;
}

.icon-item-碎铝渣 {
  width: 64px;
  height: 64px;
  background-position: -132px -594px;
}

.icon-item-碘化过滤器 {
  width: 64px;
  height: 64px;
  background-position: -198px -594px;
}

.icon-item-磁场发生器 {
  width: 64px;
  height: 64px;
  background-position: -264px -594px;
}

.icon-item-神经量子处理器 {
  width: 64px;
  height: 64px;
  background-position: -330px -594px;
}

.icon-item-空桶 {
  width: 64px;
  height: 64px;
  background-position: -396px -594px;
}

.icon-item-空瓶 {
  width: 64px;
  height: 64px;
  background-position: -462px -594px;
}

.icon-item-粗石英 {
  width: 64px;
  height: 64px;
  background-position: -528px -594px;
}

.icon-item-紫色能量蛞蝓 {
  width: 64px;
  height: 64px;
  background-position: -594px -594px;
}

.icon-item-纤维织物 {
  width: 64px;
  height: 64px;
  background-position: -660px 0px;
}

.icon-item-组装编导系统 {
  width: 64px;
  height: 64px;
  background-position: -660px -66px;
}

.icon-item-聚合树脂 {
  width: 64px;
  height: 64px;
  background-position: -660px -132px;
}

.icon-item-能量碎片 {
  width: 64px;
  height: 64px;
  background-position: -660px -198px;
}

.icon-item-脉冲诺石 {
  width: 64px;
  height: 64px;
  background-position: -660px -264px;
}

.icon-item-自动线路 {
  width: 64px;
  height: 64px;
  background-position: -660px -330px;
}

.icon-item-自适应控制单元 {
  width: 64px;
  height: 64px;
  background-position: -660px -396px;
}

.icon-item-花瓣 {
  width: 64px;
  height: 64px;
  background-position: -660px -462px;
}

.icon-item-菌丝体 {
  width: 64px;
  height: 64px;
  background-position: -660px -528px;
}

.icon-item-蓝色能量蛞蝓 {
  width: 64px;
  height: 64px;
  background-position: -660px -594px;
}

.icon-item-螺丝 {
  width: 64px;
  height: 64px;
  background-position: 0px -660px;
}

.icon-item-计算机 {
  width: 64px;
  height: 64px;
  background-position: -66px -660px;
}

.icon-item-诺氏雷筒 {
  width: 64px;
  height: 64px;
  background-position: -132px -660px;
}

.icon-item-超级计算机 {
  width: 64px;
  height: 64px;
  background-position: -198px -660px;
}

.icon-item-转子 {
  width: 64px;
  height: 64px;
  background-position: -264px -660px;
}

.icon-item-追踪步枪弹 {
  width: 64px;
  height: 64px;
  background-position: -330px -660px;
}

.icon-item-重型模块化框架 {
  width: 64px;
  height: 64px;
  background-position: -396px -660px;
}

.icon-item-重油残渣 {
  width: 64px;
  height: 64px;
  background-position: -462px -660px;
}

.icon-item-钚丸 {
  width: 64px;
  height: 64px;
  background-position: -528px -660px;
}

.icon-item-钚废料 {
  width: 64px;
  height: 64px;
  background-position: -594px -660px;
}

.icon-item-钚燃料棒 {
  width: 64px;
  height: 64px;
  background-position: -660px -660px;
}

.icon-item-钢梁 {
  width: 64px;
  height: 64px;
  background-position: -726px 0px;
}

.icon-item-钢筋混凝土梁 {
  width: 64px;
  height: 64px;
  background-position: -726px -66px;
}

.icon-item-钢管 {
  width: 64px;
  height: 64px;
  background-position: -726px -132px;
}

.icon-item-钢锭 {
  width: 64px;
  height: 64px;
  background-position: -726px -198px;
}

.icon-item-钦金矿石 {
  width: 64px;
  height: 64px;
  background-position: -726px -264px;
}

.icon-item-钦金锭 {
  width: 64px;
  height: 64px;
  background-position: -726px -330px;
}

.icon-item-钻石 {
  width: 64px;
  height: 64px;
  background-position: -726px -396px;
}

.icon-item-铀 {
  width: 64px;
  height: 64px;
  background-position: -726px -462px;
}

.icon-item-铀废料 {
  width: 64px;
  height: 64px;
  background-position: -726px -528px;
}

.icon-item-铀燃料棒 {
  width: 64px;
  height: 64px;
  background-position: -726px -594px;
}

.icon-item-铁板 {
  width: 64px;
  height: 64px;
  background-position: -726px -660px;
}

.icon-item-铁棒 {
  width: 64px;
  height: 64px;
  background-position: 0px -726px;
}

.icon-item-铁棒弹 {
  width: 64px;
  height: 64px;
  background-position: -66px -726px;
}

.icon-item-铁矿石 {
  width: 64px;
  height: 64px;
  background-position: -132px -726px;
}

.icon-item-铁锭 {
  width: 64px;
  height: 64px;
  background-position: -198px -726px;
}

.icon-item-铜板 {
  width: 64px;
  height: 64px;
  background-position: -264px -726px;
}

.icon-item-铜矿石 {
  width: 64px;
  height: 64px;
  background-position: -330px -726px;
}

.icon-item-铜粉 {
  width: 64px;
  height: 64px;
  background-position: -396px -726px;
}

.icon-item-铜锭 {
  width: 64px;
  height: 64px;
  background-position: -462px -726px;
}

.icon-item-铝制外壳 {
  width: 64px;
  height: 64px;
  background-position: -528px -726px;
}

.icon-item-铝土矿 {
  width: 64px;
  height: 64px;
  background-position: -594px -726px;
}

.icon-item-铝锭 {
  width: 64px;
  height: 64px;
  background-position: -660px -726px;
}

.icon-item-镄 {
  width: 64px;
  height: 64px;
  background-position: -726px -726px;
}

.icon-item-镄燃料棒 {
  width: 64px;
  height: 64px;
  background-position: -792px 0px;
}

.icon-item-集束诺氏雷筒 {
  width: 64px;
  height: 64px;
  background-position: -792px -66px;
}

.icon-item-非裂变贫铀 {
  width: 64px;
  height: 64px;
  background-position: -792px -132px;
}

.icon-item-马达 {
  width: 64px;
  height: 64px;
  background-position: -792px -198px;
}

.icon-item-高速连接器 {
  width: 64px;
  height: 64px;
  background-position: -792px -264px;
}

.icon-item-黄色能量蛞蝓 {
  width: 64px;
  height: 64px;
  background-position: -792px -330px;
}

.icon-item-黑火药 {
  width: 64px;
  height: 64px;
  background-position: -792px -396px;
}
